html {
  background: #666666;
  margin: 0px;
  padding: 0px;
}

.App-logo {
  height: 120px;
}

.App {
  text-align: center;
  color: #F0F0F0;
}

.App-header {
  background: #444444;
  height: 120px;
}

.App-link {
  color: #00FFFF;
}